body, html {
    margin:0px;
    padding:0px;
    font-family: 'Emilys Candy', cursive;
    background-color: #FAF0D7;
    max-width: 99%;
}

.page-header {
    position: fixed;
    z-index: 10;
    margin-top:0%;
    width: 100%;
    height: 140px;
    top: 0px;
    background-color: #FF6FB5;
    font-size:xx-large;
    text-align: center;
    border-radius: 10%;

}



nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    z-index: 9;
    width: 191px;
    height: 100%;
    right: 0%;
    top: 135px;
}

.navbtn {
    font-size: x-large;
    padding-top: 25%;
    padding-bottom: 25%;
    text-align: center;
    
}

.main-photo {
    position: absolute;
    margin:0px;
    padding:0px;
    border:0px;
    width: 42%;
    height: auto;
    top: 20%;
    left: 5%;
}

.work-location {
    position: absolute;
    font-size: xx-large;
    top: 80%;
    left: 15%;
}

.biography{
    position: absolute;
    font-size: xx-large;
    top: 20%;
    left: 55%;
    max-width: 30%;
}

.instagram-images {
    top: 18%;
    left: 5%;
}

.portfolio-filtering {
    position: absolute;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    top: 13%;
    left: 30%;
}


.portfolio-categories {
    font-size: 30px;
    font-family: 'Emilys Candy', cursive;
    margin: 0px;
    padding: 0px;
}

#main, #winter, #spring, #summer, #fall {
    margin:0px;
    padding:0px;
    visibility: hidden;
    max-height: 1px;
}

.main, .winter, .spring, .summer, .fall {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
}

.input-fields {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    padding: 10px;
}

.submit-ideas {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.share-title {
    text-align: center;
    font-size: xx-large;
}

.submit-idea-form {
    display: flex;
    flex-direction: column;
}

.share-name-field, .photo-url-field, .share-comments-field, .share-button {
    text-align: center;
    font-size: x-large;
}

.user-posted-photos {
    position: absolute;
    margin-top: auto;
    max-width: 80%;
    padding: 15px;
    left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-posts {
    padding: 15px;
    margin: 3px;
    border: 5px;
    width:fit-content;
    max-width: 300px;
    border-style: double;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.shared-photo {
    margin: auto;
}

.poster-name, .user-comments {
    text-align: center;
    font-size: x-large;
}
