body, html {
    margin:0px;
    padding:0px;
    font-family: 'Emilys Candy', cursive;
    background-color: #FAF0D7;
    background-image: url(./hand-painted-watercolor-pastel-sky-background_23-2148902771.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 99%;
}

.page-header {
    position: fixed;
    z-index: 10;
    margin-top:0%;
    width: 100%;
    height: 140px;
    top: 0px;
    background-color: #f993c4;
    font-size:xx-large;
    text-align: center;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}



nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(131, 143, 189, 0.687);
    z-index: 9;
    width: 191px;
    height: 100%;
    right: 0%;
    top: 5%;
}

.navbtn {
    font-size: x-large;
    padding-top: 50%;
    padding-bottom: 10%;
    text-align: center;
    
}

.nav-instagram-logo {
    padding-top: 60%;
    padding-bottom: 50%;
    width: 60%;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
}

.main-photo {
    position: absolute;
    margin:0px;
    padding:0px;
    border:0px;
    width: 42%;
    height: auto;
    top: 20%;
    left: 5%;
}

.work-location {
    position: absolute;
    font-size: 300%;
    top: 75%;
    left: 10%;
}

.instagram-logo {
    position: absolute;
    bottom: 10%;
    right: 25%;
    width: 7%;
    height: auto;
}

.biography{
    position: absolute;
    font-size: 175%;
    top: 20%;
    left: 55%;
    max-width: 30%;
}

.instagram-images {
    top: 18%;
    left: 5%;
    overflow: hidden;
}

.portfolio-filtering {
    position: absolute;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    top: 18%;
    left: 30%;
}


.portfolio-categories {
    font-size: 30px;
    font-family: 'Emilys Candy', cursive;
    margin: 0px;
    padding: 0px;
}


.main, .winter, .spring, .summer, .fall {
    position: absolute;
    left: 3%;
    right: 3%;
    top: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main, #winter, #spring, #summer, #fall {
    margin:0px;
    padding:0px;
    visibility: hidden;
    max-height: 1px;
}

.input-fields {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    padding: 10px;
}

.work-schedule {
    position: absolute;
    border: black;
    border-style:ridge;
    display: flex;
    flex-direction: row;
    top: 18%;
    width: 70%;
    max-width: 70%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;

}

.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday {
    margin: 1%;
    padding: 1%;
    border: rgb(151, 65, 65);
    border-style: double;
    font-size: 200%;
    text-align: center;
}

.pricing-photo{
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    margin-top:10%;
    padding:1px;
    border:0px;
    height: 46%;
    width: auto;
    max-height: 60%;
    max-width: 60%;
    bottom: 2%

}

.submit-ideas {
    position: absolute;
    top: 15%;
    margin: 0px;
    padding: 0px;
}

.share-title {
    text-align: center;
    font-size: xx-large;
}

.submit-idea-form {
    display: flex;
    flex-direction: column;
}

.share-name-field, .photo-url-field, .share-comments-field, .share-button {
    text-align: center;
    font-size: x-large;
    margin: 3px;
}

.user-posted-photos {
    position: absolute;
    margin-top: 12%;
    max-width: 80%;
    padding: 15px;
    left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-posts {
    padding: 15px;
    margin: 3px;
    border: 5px;
    width:fit-content;
    max-width: 300px;
    border-style: double;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.shared-photo {
    margin: auto;
}

.poster-name, .user-comments {
    text-align: center;
    font-size: x-large;
}
